#graphs {
  margin-top: 20px;
}

#graphs .axis path {
  fill: none;
  stroke: none;
}

#graphs .axis line {
  fill: none;
  stroke: rgba(0,0,0, 0.2);
  stroke-dasharray: 1,2;
  shape-rendering: crispEdges;
}

#graphs .axis text,
#graphs .axis-label {
  fill: rgba(0,0,0, 0.45);
}

#graphs .axis .null-line {
  stroke-dasharray: 0;
  stroke: rgba(0,0,0, 0.35);
}

#graphs .background {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.voltages .area {
  fill: rgba(63, 136, 204, .2);
  stroke: rgba(63, 136, 204, .75);
  stroke-width: 1px;
}

.ir_front .area {
  fill: rgba(215,100,170,.83);
  stroke: none;
}

.ir_side .area {
  fill: rgba(73,84,155,.83);
  stroke: none;
}

.interaction-area {
  fill: transparent;
  cursor: default;
}

.side-label {
  font-size: 10px;
  text-transform: uppercase;
  fill: rgba(0,0,0,.5);
}

.graph-title {
  text-transform: uppercase;
  text-anchor: middle;
  color: black;
  font-weight: bold;
  font-size: 12px;
}
