@import "normalize.css";
@import "sessions.css";
@import "map.css";
@import "graphs.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

#container {}

svg {
  font: 10px sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* =============================================================================
   MAIN (CONTENT)
 */

#main {
  margin-right: 300px;
}

#map {
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#map label {
  display: inline-block;
}

/* =============================================================================
   SIDEBAR
 */

#sidebar {
  float: right;
  width: 220px;
  padding: 15px;
}
